<h1> Login or <%= link_to "Create Account", new_user_path %></h1>

<%= form_tag "login", method: "post" do %>
    <%= label :username, "Username" %>
    <%= text_field_tag :username%>
    <%= submit_tag "Log In" %>
<% end %>
