<h1>Add a Currency</h1>

<%= render partial: "shared/error_list", locals: {object: @currency} %>
<%= form_for @currency do |f| %>
    <%= f.label :name, "Currency Name:" %>
    <%= f.text_field :name %>
    <%= f.label :symbol, "Abbreviation" %>
    <%= f.text_field :symbol %>
    <%= f.label :image, "Add Image" %>
    <%= f.file_field(:image) %>
    <%= f.submit %>
<% end %>
