<meta http-equiv="refresh" content="5" >
<h1><%= @currency.name %> (<%= @currency.symbol %>)</h1>

<% if @currency.image.attached? %>
    <%= image_tag @currency.image, class: "rounded mx-auto d-block", style: "width: 6rem;" %>
<% end %>

<div id="symbol" style="color: white;"><%= @currency.symbol%>
</div>

<div id="usd-container" class="d-flex justify-content-center">USD: $</div>

<div id="rate-container" class="d-flex justify-content-center">Rate: ฿</div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function(){
      let symbolT = document.getElementById("symbol").innerText
      apiFetch(symbolT)
    })

//fetches the target currency
    function apiFetch(symbolT){
      fetch(`https://api.coindesk.com/v1/bpi/currentprice/${symbolT}.json`)
        .then(res => res.json())
        .then(jsonData => currencyObj(jsonData,symbolT))
    }  

    function currencyObj(jsonData,symbolT){
      let usdRateFloat = jsonData.bpi.USD.rate_float
      let targetRateFloat = jsonData.bpi[symbolT].rate_float
      
      let apiTargetContainer = document.getElementById("rate-container")
      let apiTargetDiv = document.createElement("div")
      let targetRate = jsonData.bpi[symbolT].rate
        apiTargetDiv.innerText = targetRate
        apiTargetContainer.appendChild(apiTargetDiv)
      
      let apiUsdContainer = document.getElementById("usd-container")
      let apiUsdDiv = document.createElement("div")
      let usdRate = jsonData.bpi.USD.rate
      // debugger
      let usdConversion = Number(targetRateFloat/usdRateFloat).toFixed(5)
        apiUsdDiv.innerText = usdConversion
        apiUsdContainer.appendChild(apiUsdDiv) 
        
    };
  </script>


<% if logged_in? && get_current_user.admin? %>
    <%= form_tag "#{@currency.id}/edit", method: "get" do %>
        <%= submit_tag "Edit This Currency", class: "btn btn-primary" %>
    <% end %>
<% end %>