<h1><%= @user.name %></h1>

<h2>Your Trades:</h2>
<ul>
    <% @user.trades.each do |trade|%>
        <li>
            <%= trade.offered_amount %> <%= trade.offered_currency.symbol %> for <%= trade.requested_amount %> <%= trade.requested_currency.symbol %> 
            <%= render partial: "shared/delete_button", locals: {object: trade} %>
        </li>
    <% end %>
</ul>

<%= form_tag "#{@user.id}/edit", method: "get" do %>
    <%= submit_tag "Edit Your Profile" %>
<% end %>
