<h1><%= @wallet.user.name %>'s <%= @wallet.currency.name %> Wallet</h1>
<% if @wallet.currency.image.attached? %>
    <div class="d-flex justify-content-center">
        <%= image_tag @wallet.currency.image, style: "height: 8rem;"%>
    </div>
<% end %>

<div id="symbol" style="color: white;"><%= @wallet.currency.symbol%>
</div>

<div id="usd-container" class="d-flex justify-content-center">USD: $</div>

<div id="rate-container" class="d-flex justify-content-center">Rate: ฿</div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function(){
      let symbolT = document.getElementById("symbol").innerText
      apiFetch(symbolT)
    })

//fetches the target currency
    function apiFetch(symbolT){
      fetch(`https://api.coindesk.com/v1/bpi/currentprice/${symbolT}.json`)
        .then(res => res.json())
        .then(jsonData => currencyObj(jsonData,symbolT))
    }  

    function currencyObj(jsonData,symbolT){
      let usdRateFloat = jsonData.bpi.USD.rate_float
      let targetRateFloat = jsonData.bpi[symbolT].rate_float
      
      let apiTargetContainer = document.getElementById("rate-container")
      let apiTargetDiv = document.createElement("div")
      let targetRate = jsonData.bpi[symbolT].rate
        apiTargetDiv.innerText = targetRate
        apiTargetContainer.appendChild(apiTargetDiv)
      
      let apiUsdContainer = document.getElementById("usd-container")
      let apiUsdDiv = document.createElement("div")
      let usdRate = jsonData.bpi.USD.rate
      // debugger
      let usdConversion = Number(targetRateFloat/usdRateFloat).toFixed(5)
        apiUsdDiv.innerText = usdConversion
        apiUsdContainer.appendChild(apiUsdDiv) 
      window.setTimeout(function(){location.reload(true)}, 3000);
    };
  </script>
  
<h2>Current Balance:</h2>
<p><%= @wallet.amount %> <%= link_to @wallet.currency.symbol, @wallet.currency %></p>

<% unless @wallet.trades.empty? %>
<h2>Pending Trades From This Wallet:</h2>
<ul>
    <% @wallet.trades.each do |trade|%>
        <li>
            <%= trade.offered_amount %> <%= trade.offered_currency.symbol %> for <%= trade.requested_amount %> <%= trade.requested_currency.symbol %> 
            <div style="display: inline-block;">
            <%= render partial: "shared/delete_button", locals: {object: trade} %>
            </div>
        </li>
    <% end %>
</ul>
<% end %>
<%= render partial: "shared/delete_button", locals: {object: @wallet} %>
