<h1><%= @wallet.user.name %>'s <%= @wallet.currency.name %> Wallet</h1>
<% if @wallet.currency.image.attached? %>
    <div class="d-flex justify-content-center">
        <%= image_tag @wallet.currency.image, style: "height: 8rem;"%>
    </div>
<% end %>


<h2>Current Balance:</h2>
<p><%= @wallet.amount %> <%= link_to @wallet.currency.symbol, @wallet.currency %></p>

<% unless @wallet.trades.empty? %>
<h2>Pending Trades From This Wallet:</h2>
<ul>
    <% @wallet.trades.each do |trade|%>
        <li>
            <%= trade.offered_amount %> <%= trade.offered_currency.symbol %> for <%= trade.requested_amount %> <%= trade.requested_currency.symbol %> 
            <%= render partial: "shared/delete_button", locals: {object: trade} %>
        </li>
    <% end %>
</ul>
<% end %>
<%= render partial: "shared/delete_button", locals: {object: @wallet} %>