<h1>Pending Trades</h1>

<% @trades.each do |trade| %>
    <% unless trade.completed %>
        <h2><%= trade.offered_amount %> <%= trade.offered_currency.symbol %> for <%= trade.requested_amount %> <%= trade.requested_currency.symbol %></h2>
        <p><%= link_to "Link Placeholder", trade %></p>
    <% end %>
<% end %>

<%= render "make_trade_button" %>