<!DOCTYPE html>
<html>
  <head>
    <title>FlEx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if get_current_user %>
        <div>Welcome, <%= get_current_user.name %>!</div>
        <%= link_to "Logout", "/logout", method: "DELETE" %>
    <% else %>
        <%= link_to "Login", login_path %>
    <% end %>

    <%# <form style="position: fixed; top: 2em; right: 2em;" action="/login" method="get">
        <input type="submit" value="Log In">
    </form
    
    <form style="position: fixed; top: 10em; right: 2em;" action="/logout" method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Log Out">
    </form> %>

    <%= yield %>
  </body>
</html>
