<!DOCTYPE html>
<html>
  <head>
    <title>FlEx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
   <div class="container rounded-bottom" style="background-color: white; padding-bottom: 1rem">
    <nav class="navbar navbar-light rounded-bottom" style="background-color: #d8dee9;">
        <span>
            <%= link_to "Currencies", currencies_path %>
            <%= link_to "Trades", trades_path %>
        </span>
        <span>
            <% if get_current_user %>
                Welcome, <%= get_current_user.name %>!
                <%= link_to "Profile", get_current_user %>
                <%= link_to "Wallets", wallets_path %>
                <%= link_to "Logout", "/logout", method: "DELETE" %>
            <% else %>
                <%= link_to "Login", login_path %>
            <% end %>
        </span>
    </nav>
    <%= yield %>
   </div>
  </body>
</html>
