<!DOCTYPE html>
<html>
  <head>
    <title>FlEx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <span class="nav-left">
            <%= link_to "Currencies", currencies_path %>
            <%= link_to "Trades", trades_path %>
        </span>
        <span class="nav-right">
            <% if get_current_user %>
                Welcome, <%= get_current_user.name %>!
                <%= link_to "Your Wallets", wallets_path %>
                <%= link_to "Logout", "/logout", method: "DELETE" %>
            <% else %>
                <%= link_to "Login", login_path %>
            <% end %>
        </span>
    </nav>
    <%= yield %>
  </body>
</html>
